.icon{
    height: inherit;
    width: auto;
}

h1{
    text-align: center;
}

footer{
    text-align: center;
}

.box{
    width: 150px;
  height: 100px;
  border-radius: 5px;
  padding: 1em;
}

.box {
    float: left;
    margin-right: 15px;
    width: 150px;
    height: 100px;
    border-radius: 5px;
    padding: 1em;
  }
